<!DOCTYPE html>
<html lang="RU">
<meta charset="UTF-8">
<head>
    <title>Mega map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/icons/favicon.png">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway"/>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"
            type="module"></script>
    <title>Clustered Features</title>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mainpage.css') }}">
    <script src="{{ url_for('static',filename='js/metros.js') }}"></script>
    <script src="{{ url_for('static',filename='js/homes.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static',filename='js/route_points.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

</head>
<body>
<div id="map" class="map" style="position: absolute; top: 0; left: 0;"></div>
<div id='search'>
    <input type="search" id="searchAddressFrom"
           placeholder="Адрес откуда"
           onsubmit='update_route()'>
    <input type="search" id="searchAddressTo"
           placeholder="Адрес откуда"
           onsubmit='update_route()'>
    <span>
			<button class='search_address_button' id='search_address_button' onclick="update_route()"></button>
		</span>
</div>
<div id='bar_container'>
    <div id='bar'>
        <div id='select_bar'>
            <div align='left'>
                <input type="checkbox" name="homes" value="homes" id="homes" onchange='homes_settings_show_hide()'>
                <label id='homes_label' for="homes"></label>
                <input type="checkbox" name="ground_stops" value="ground_stops" id="ground_stops">
                <label id='ground_stops_label' for="ground_stops"></label>
                <input type="checkbox" name="metros" value="metros" id="metros">
                <label id='metros_label' for="metros"></label>
                <input type="checkbox" name="route" value="route" id="route">
            </div>

        </div>
        <div id='describe_bar' style="display: none;">
            <div>
                <button class='back_button' type="button" id='back_bar' onclick="back_bar()"></button>
            </div>
            <div id='describe' style="display: block;"></div>
            <div><br/></div>

        </div>
    </div>
</div>


</body>
<script>
    have_logos = {{have_logos}};
    metro_url = "{{ url_for('get_metros') }}"
    ground_stop_url = "{{ url_for('get_ground_stops') }}"
    home_url = "{{ url_for('get_homes') }}"
    route_url = "{{ url_for('get_route') }}"
    document.getElementById("search").addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            get_route();
        }
    });

    var vector = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: compute_new_point_style,
    });

    var ground_stop_layer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: compute_oper_square_style
    });
    let center_coord = [37.622504, 55.753215];
    center_coord = ol.proj.fromLonLat(center_coord);

    let map_layer = new ol.layer.Tile({
        source: new ol.source.OSM()
    })

    var view = new ol.View({
        center: center_coord,
        zoom: 11
    });

    sale_points_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });

    fresh_sale_points_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });
    search_address_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });
    home_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });

    var map = new ol.Map({
        layers: [
            map_layer,
            // home_layer,
            // orgs_layer,
            search_address_layer,
            {#ground_stop_layer#}
        ],
        target: document.getElementById('map'),
        view: view
    });

    $('input').change(function () {
        param_dic = get_boarders();
        value = $(this).val();
        if (value === 'metros') {
            if (document.getElementById(value).checked) {
                document.getElementById("metros").disabled = true;
                    $.get(metro_url, param_dic).then(function (response) {
                        var features = get_metro_features(response['metros']);
                        metro_layer = get_metro_layer(features);
                        map.addLayer(metro_layer);
                        document.getElementById("metros").disabled = false;
                    })
            } else {
                map.removeLayer(metro_layer);
            }
        }
        if (value === 'homes') {
            get_homes();
            document.getElementById("homes").disabled = false;
        }
        if (value === 'ground_stops') {
            if (document.getElementById(value).checked) {
                document.getElementById("ground_stops").disabled = true;
                $.get(ground_stop_url, param_dic).then(function (response) {
                    var features = get_ground_stop_features(response['ground_stops']);
                    ground_stop_layer = get_ground_stop_layer(features);
                    map.addLayer(ground_stop_layer);
                    document.getElementById("ground_stops").disabled = false;
                })
            } else {
                map.removeLayer(ground_stop_layer);
            }
        }

    });
    document.getElementsByClassName("ol-attribution")[0].style.display = 'none'
    map.on('moveend', function () {
        param_dic = get_boarders();
        param_dic['delete_all'] = false;
        if (document.getElementById("metros").checked) {
            $.get(metro_url, param_dic).then(function (response) {
                var features = get_metro_features(response['metros']);
                var source = new ol.source.Vector({
                    features: features,
                    wrapX: false
                });
                metro_layer.setSource(source);
            });
        }
        if (document.getElementById("homes").checked) {
            get_homes();
            document.getElementById("homes").disabled = false;
        }
        if (document.getElementById("ground_stops").checked) {
            document.getElementById("ground_stops").disabled = true;
            $.get(ground_stop_url, param_dic).then(function (response) {
                var features = get_ground_stop_features(response['ground_stops']);
                source = new ol.source.Vector({
                    features: features,
                    wrapX: false
                });

                ground_stop_layer.setSource(source)
                document.getElementById("ground_stops").disabled = false;
            });
        }
    });

    map.on('click', function (evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel,
        function (feature) {
            info = feature.get('info');
            if (feature.get('info') === undefined) {
                info = 'Нет информации об объекте';
            }
            document.getElementById("select_bar").style.display = "none";
            document.getElementById("describe_bar").style.display = "block";
            document.getElementById("bar").style.display = "block";
            document.getElementById("describe").innerHTML = info;
        });
    });
</script>
</html>
