<!DOCTYPE html>
<html lang="RU">
<meta charset="UTF-8">
<head>
    <title>Mega map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/icons/favicon.png">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway"/>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"
            type="module"></script>
    <title>Clustered Features</title>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mainpage.css') }}">
    <script src="{{ url_for('static',filename='js/sale_points.js') }}"></script>
    <script src="{{ url_for('static',filename='js/metros.js') }}"></script>
    <script src="{{ url_for('static',filename='js/homes.js') }}"></script>
    <script src="{{ url_for('static',filename='js/search.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>
    <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div id="map" class="map" style="position: absolute; top: 0; left: 0;"></div>
<div id='search'>
    <input type="search" id="searchAddress"
           placeholder="Введите адрес"
           onsubmit='searchAddress()'>
    <span>
			<button class='search_address_button' id='search_address_button' onclick="searchAddress()"></button>
		</span>
    <div>
        <button class='curtail_bar' type="button" id='curtail_bar' onclick="curtail_bar()"></button>
    </div>
</div>
<div id='bar_container'>
    <div id='bar'>
        <div id='select_bar'>
            <div align='left'>
                <input type="checkbox" name="homes" value="homes" id="homes" onchange='homes_settings_show_hide()'>
                <label id='homes_label' for="homes"></label>
                <input type="checkbox" name="ground_stops" value="ground_stops" id="ground_stops">
                <label id='ground_stops_label' for="ground_stops"></label>
                <input type="checkbox" name="metros" value="metros" id="metros">
                <label id='metros_label' for="metros"></label>
            </div>
            <form>

                <div id='selected_orgs' hidden>
                    <input type="checkbox" name="point_count" value="point_count" id="point_count">
                    <form id='orgs_select' method="post" onsubmit="">

                        <div class="custom-select">

                            <select id='selected_nat_class' multiple onchange='get_orgs();get_homes()'>
                                <option value="Банкомат">Банкомат</option>
                                <option value="Кафе">Кафе</option>
                                <option value="Аптека">Аптека</option>
                                <option value="Супермаркет">Супермаркет</option>
                                <option value="Банк">Банк</option>
                                <option value="Ресторан">Ресторан</option>
                                <option value="Магазин продуктов">Магазин продуктов</option>
                                <option value="Торговый центр">Торговый центр</option>
                                <option value="Бар, паб">Бар, паб</option>
                                <option value="Кофейня">Кофейня</option>
                                <option value="Быстрое питание">Быстрое питание</option>
                            </select>
                        </div>

                        <div>
                            <div id='selected_chain_name_container'>
                                <select id='selected_chain_name' multiple onchange='get_orgs()'
                                        style='overflow-y: scroll; width:325px'>
                                    <option value="Сбербанк России, банкомат">Сбербанк России, банкомат</option>
                                    <option value="Пятёрочка">Пятёрочка</option>
                                    <option value="Банк ВТБ, банкомат">Банк ВТБ, банкомат</option>
                                    <option value="Магнит">Магнит</option>
                                    <option value="Сбербанк России">Сбербанк России</option>
                                    <option value="Аптека">Аптека</option>
                                    <option value="Кафе">Кафе</option>
                                    <option value="Дикси">Дикси</option>
                                    <option value="Почта банк">Почта банк</option>
                                    <option value="Магазин продуктов">Магазин продуктов</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </form>

        </div>
        <div id='describe_bar' style="display: none;">
            <div>
                <button class='back_button' type="button" id='back_bar' onclick="back_bar()"></button>
            </div>
            <div id='describe' style="display: block;"></div>
            <div><br/></div>

        </div>
    </div>


</div>


</body>
<script>
    have_logos = {{have_logos}};
    metro_url = "{{ url_for('get_metros') }}"
    ground_stop_url = "{{ url_for('get_ground_stops') }}"
    home_url = "{{ url_for('get_homes') }}"
    route_url = "{{ url_for('get_route') }}"
    document.getElementById("search").addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            searchAddress();
        }
    });

    function balance(x, y) {
        console.log('balance');
        console.log(console.log(document.getElementById(x).checked));
        console.log(console.log(document.getElementById(y).checked));
        if ((document.getElementById(x).checked === false) && (document.getElementById(y).checked === false)) {
            document.getElementById(x).checked = true;
            document.getElementById(y).checked = true;
        }
    }



    function back_bar() {
        document.getElementById("select_bar").style.display = "block";
        document.getElementById("describe_bar").style.display = "none";
    }

    function curtail_bar() {

        if (document.getElementById("curtail_bar").style.opacity === 1) {
            $(document.getElementById('bar')).show(200)
            document.getElementById("curtail_bar").style.backgroundImage = "url('/static/map_icons/angle-pointing-to-top.png')"
            document.getElementById("curtail_bar").style.opacity = ""
        } else {
            $(document.getElementById('bar')).hide(200);
            document.getElementById("curtail_bar").style.backgroundImage = "url('/static/map_icons/angle-pointing-to-buttom.png')";
            document.getElementById("curtail_bar").style.opacity = 1;
        }
    }

    function homes_settings_show_hide() {
        if (document.getElementById('homes').checked) {
            $(document.getElementById('homes_settings')).show(200);
        } else {
            $(document.getElementById('homes_settings')).hide(200);
        }
    }

    var vector = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: compute_new_point_style,
    });

    var ground_stop_layer = new ol.layer.Vector({
        source: new ol.source.Vector(),
        style: compute_oper_square_style
    });

    function get_ground_stop_features(data) {
        console.log(data);
        console.log(data[0]);
        var features = [];
        for (var i = 0; i < data.length; ++i) {
            point = [data[i]["x"], data[i]["y"]];
            geom = new ol.geom.Point(point);
            feature = new ol.Feature(
                {
                    'geometry': geom,
                    radius: 10, 'info': 'Нет информации объекте',
                    'count': data[i]["count"],
                    'is_one': data[i]["is_one"]
                },);
            feature.setStyle(compute_ground_stop_style(feature));
            features.push(feature);
        }
        console.log(features);
        return features
    }

    function get_ground_stop_layer(features) {
        var vectorSource = new ol.source.Vector({
            features: features,
            wrapX: false
        });

        var vector = new ol.layer.Vector({
            source: vectorSource,
        });
        return vector
    }

    function get_homes() {
    if (document.getElementById("homes").checked) {
        document.getElementById("homes").disabled = true;
        $.get(home_url, param_dic).then(function (response) {
                var features = get_home_features(response['homes']);
                var source = new ol.source.Vector({
                    features: features,
                    wrapX: false
                });
                home_layer.setSource(source);
                map.addLayer(home_layer);
                document.getElementById("homes").disabled = false;
            }
        )
    } else {
        map.removeLayer(home_layer);
    }
}

    function compute_new_point_style(feature) {
        var fill_color = 'cyan';
        var style_dic = {}
        style_dic['image'] = new ol.style.Circle({
            radius: 10,
            fill: new ol.style.Fill({
                color: fill_color
            }),
            stroke: new ol.style.Stroke({
                color: 'black',
                width: 0
            })
        })
        style_dic['text'] = new ol.style.Text({
            font: '12px helvetica,sans-serif',
            text: feature.get('revenue'),
            fill: new ol.style.Fill({
                color: '#000'
            }),
            stroke: new ol.style.Stroke({
                color: '#fff',
                width: 2
            })
        })
        return new ol.style.Style(style_dic);
    }

    function compute_ground_stop_style(feature) {
        var fill_color = '#6D6D6D';
        var style_dic = {}
        if (feature.get('is_one') !== true) {
            style_dic['image'] = new ol.style.Circle({
                radius: 7 + feature.get('count').toString().length,
                fill: new ol.style.Fill({
                    color: fill_color
                }),
            })
            style_dic['text'] = new ol.style.Text({
                font: '10px helvetica,sans-serif',
                text: feature.get('count').toString(),
                fill: new ol.style.Fill({
                    color: 'white'
                }),
            })
        } else {
            style_dic['image'] = new ol.style.Icon({
                radius: feature.get('radius'),
                anchor: [0.5, 0.5],
                size: [128, 128],
                offset: [0, 0],
                opacity: 1,
                scale: 0.1,
                src: decodeURIComponent("/static/map_icons/bus-stop.png")
            })
        }
        return new ol.style.Style(style_dic);
    }

    function compute_search_address_style(feature, fill_color) {
        var style_dic = {};
        style_dic['image'] = new ol.style.Icon({
            radius: feature.get('radius'),
            anchor: [0.5, 0.5],
            size: [200, 200],
            offset: [0, 0],
            opacity: 1,
            scale: 0.2,
            src: decodeURIComponent("/static/icons/placeholder.png")
        })
        return new ol.style.Style(style_dic);
    }


    function compute_sale_point_style(feature) {
        fill_color = '#3498db';
        style_dic = {}
        style_dic['image'] = new ol.style.Circle({
            radius: feature.get('radius'),
            fill: new ol.style.Fill({
                color: fill_color
            }),
        })


        style_dic['text'] = new ol.style.Text({
            font: '10px helvetica,sans-serif',
            text: feature.get('name'),
            fill: new ol.style.Fill({
                color: 'white',
            }),
        })
        return new ol.style.Style(style_dic);
    }

    function compute_org_style(feature) {
        var fill_color = 'brown';
        var style_dic = {}
        if (feature.get('count') !== 1) {
            style_dic['image'] = new ol.style.Circle({
                radius: 7 + feature.get('count').toString().length,
                fill: new ol.style.Fill({
                    color: fill_color
                }),
            })
            style_dic['text'] = new ol.style.Text({
                font: '10px helvetica,sans-serif',
                text: feature.get('count').toString(),
                fill: new ol.style.Fill({
                    color: 'white'
                }),
            })
        } else {
            chain_name = feature.get('chain_name');

            if (have_logos[chain_name] !== undefined) {
                style_dic['image'] = new ol.style.Icon({
                    radius: feature.get('radius'),
                    scale: 25 / have_logos[chain_name],

                    src: decodeURIComponent('/static/map_icons/' + chain_name + '.png')
                })
            } else {
                style_dic['image'] = new ol.style.Circle({
                    radius: 6,
                    fill: new ol.style.Fill({
                        color: fill_color
                    }),
                })
            }
        }
        return new ol.style.Style(style_dic);
    }

    var center_coord = [37.622504, 55.753215];
    center_coord = ol.proj.fromLonLat(center_coord);

    let map_layer = new ol.layer.Tile({
        source: new ol.source.OSM()
    })

    var view = new ol.View({
        center: center_coord,
        zoom: 11
    });

    sale_points_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });

    fresh_sale_points_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });
    search_address_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });
    home_layer = new ol.layer.Vector({
        source: new ol.source.Vector()
    });

    var map = new ol.Map({
        layers: [
            map_layer,
            // home_layer,
            // orgs_layer,
            search_address_layer,
            ground_stop_layer
        ],
        target: document.getElementById('map'),
        view: view
    });

    function get_boarders() {
        var extent = map.getView().calculateExtent(map.getSize());
        min_coord = ol.proj.transform([extent[0], extent[1]], 'EPSG:3857', 'EPSG:4326');
        max_coord = ol.proj.transform([extent[2], extent[3]], 'EPSG:3857', 'EPSG:4326');

        boarders_dic = {};
        boarders_dic['x_min'] = extent[0];
        boarders_dic['y_min'] = extent[1];
        boarders_dic['x_max'] = extent[2];
        boarders_dic['y_max'] = extent[3];

        boarders_dic['lon_min'] = min_coord[0];
        boarders_dic['lat_min'] = min_coord[1];
        boarders_dic['lon_max'] = max_coord[0];
        boarders_dic['lat_max'] = max_coord[1];
        return boarders_dic
    }


    $('input').change(function () {
        param_dic = get_boarders();
        console.log(param_dic);
        param_dic['nat_class'] = document.getElementById('selected_nat_class').value;
        value = $(this).val();
        console.log(value);
        if (value === 'metros') {
            if (document.getElementById(value).checked) {
                document.getElementById("metros").disabled = true;
                $.get(metro_url, param_dic).then(function (response) {
                    console.log("Success!");
                    var features = get_metro_features(response['metros']);
                    metro_layer = get_metro_layer(features);
                    map.addLayer(metro_layer);
                    document.getElementById("metros").disabled = false;
                    console.log('input')
                })
            } else {
                console.log('remove');
                map.removeLayer(metro_layer);
            }
        }
        if (value === 'homes') {
            get_homes();
            document.getElementById("homes").disabled = false;
        }
        if (value === 'lines') {
            console.log(param_dic);
            if (document.getElementById(value).checked) {
                document.getElementById("lines").disabled = true;
                $.get(line_url, param_dic).then(function (response) {
                    lines = response['lines'];
                    console.log(lines);
                    source = get_lines_source(lines);
                    line_layer = get_line_layer(source);
                    console.log(line_layer);
                    map.addLayer(line_layer);
                    document.getElementById("lines").disabled = false;
                })
            } else {
                console.log('remove');
                map.removeLayer(line_layer);
                document.getElementById("selected_line_type").disabled = false;
            }
        }
        if (value === 'ground_stops') {
            if (document.getElementById(value).checked) {
                document.getElementById("ground_stops").disabled = true;
                $.get(ground_stop_url, param_dic).then(function (response) {
                    var features = get_ground_stop_features(response['ground_stops']);
                    ground_stop_layer = get_ground_stop_layer(features);
                    map.addLayer(ground_stop_layer);
                    document.getElementById("ground_stops").disabled = false;
                })
            } else {
                map.removeLayer(ground_stop_layer);
            }
        }


    });
    document.getElementsByClassName("ol-attribution")[0].style.display = 'none'
    map.on('moveend', function () {
        get_sale_points()
        param_dic = get_boarders();
        param_dic['delete_all'] = false;
        param_dic['nat_class'] = document.getElementById('selected_nat_class').value;
        if (document.getElementById("metros").checked) {
            $.get(metro_url, param_dic).then(function (response) {
                var features = get_metro_features(response['metros']);
                source = new ol.source.Vector({
                    features: features,
                    wrapX: false
                });
                metro_layer.setSource(source);
            });
        }
        if (document.getElementById("homes").checked) {
            get_homes();
            document.getElementById("homes").disabled = false;
        }

        if (document.getElementById("ground_stops").checked) {
            document.getElementById("ground_stops").disabled = true;
            $.get(ground_stop_url, param_dic).then(function (response) {
                var features = get_ground_stop_features(response['ground_stops']);
                source = new ol.source.Vector({
                    features: features,
                    wrapX: false
                });

                ground_stop_layer.setSource(source)
                document.getElementById("ground_stops").disabled = false;
            });
        }
    });

    map.on('click', function (evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel,
            function (feature) {
                console.log('click event');
                console.log(feature.get('info'));
                info = feature.get('info');
                if (feature.get('info') === undefined) {
                    info = 'Нет информации об объекте';
                }
                console.log(feature);
                document.getElementById("select_bar").style.display = "none";
                document.getElementById("describe_bar").style.display = "block";
                document.getElementById("bar").style.display = "block";
                document.getElementById("describe").innerHTML = info;
            });
    });
</script>

</html>
